@use 'colors';

/* Set style for the avatar picture */
.sua-attachment-avatar {
  border-radius: 2px;
  cursor: pointer;
}

/* Buttons container */
.sua-btn-container {
  margin-top: .8rem;

  /* Set style for buttons */
  #btn-media-remove {
    color: colors.$white;
    border-color: colors.$red3;
    background: colors.$red1;

    &:hover {
      background: colors.$red2;
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 1px colors.$red3;
    }
  }
}

/* Hide WordPress default avatar */
.user-profile-picture {
  display: none;
}

/* Fix the square size of avatars in /wp-admin */
img {
  &.avatar {
    object-fit: cover;
  }
}